#main-header{
    text-align: center;
    background-color: white;
    color: blue;
    padding: 10px;
}

#main-footer{
    margin: 50px;
    text-align: center;
    font-size: 18px;
}

#my-form h3{
    text-align: center;
}

.footer-text{
    font-size: small;
}

.fab {
    margin:10px 3px;
}
.fab:hover{
    color: grey;
}
.end{
    margin: 50px;
}

.error{
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
}